{% extends '/template.html.twig' %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-12 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espace réservé&nbsp;: vignette" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">TR</text></svg>

                        <div class="card-body">
                            <p class="card-text ">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        La taxe rurale est due par toutes les personnes âgées de plus de 14 ans qui résident dans les communautés rurales. Cette taxe représente en moyenne 72,63% des recettes fiscales des communautés rurales
                                    </font>
                                </font>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('liste_impot') }}" class="btn btn-sm btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voir la liste</font></font></a>
                                    <a href="{{ path('edit_impot') }}" class="btn btn-sm btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ajouter Taxe rural</font></font></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espace réservé&nbsp;: vignette" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">IMF</text></svg>

                        <div class="card-body">
                            <p class="card-text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        L’impôt du minimum fiscal (IMF) Il est dû par toute personne physique résidant au Sénégal âgée d’au moins 14 ans à l’exception des élèves. Il comporte cinq catégories définies en fonction du tableau.
                                    </font>
                                </font>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path('liste_impot') }}" class="btn btn-sm btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Voir la liste</font></font></a>
                                    <a href="{{ path('edit_propriete') }}" class="btn btn-sm btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ajouter IMF</font></font></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
{% endblock %}
{% block PageTitre %}
    Les Impots Professionnels
{% endblock %}

