 {% extends 'template.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.nom) }}</div>
        <div class="col">{{ form_row(form.localisation) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block title %}

{% endblock %}

 {% block PageTitre %}
     Editer Site de collecte
 {% endblock %}

