
{% extends 'template.html.twig' %}

{% block title %}Liste des Ressources Propres{% endblock %}

{% block body %}
    <h1>Liste des Ressources Propres</h1>

    <ul>
        {% for ressource in ressources %}
            <li>
                <a href="{{ path('ressource_show', {'id': ressource.id}) }}">{{ ressource.nom }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}