{% extends 'template.html.twig' %}

{% block body %}
    <h1>Résultats des Calculs</h1>

    <p>CFPB: {{ tax.montant }}</p>
    <p>CFPNB: {{ tax.montant }}</p>
    <p>TOM: {{ tax.montant }}</p>
{% endblock %}

{% block title %}

{% endblock %}

