{% extends 'template.html.twig' %}

{% block title %}Liste des impots{% endblock %}

{% block body %}
    <div class="list-group m-3">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">La contribution foncière des propriétés bâties (CFPB)</h4>
            </div>
            <p class="mb-1 fs-4">Montant Cumule : </p>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-warning">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">La contribution foncière des propriétés non bâties (CFPNB)</h4>
            </div>
            <p class="mb-1 fs-4">Montant Cumule :</p>

        </a>
        <a href="#" class="list-group-item list-group-item-action bg-info">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">taxe d'enlèvement des ordures ménagères (TOM)</h4>
            </div>
            <p class="mb-1 fs-4">Montant Cumule :</p>

        </a>
    </div>
    <div class="container-fluid align-content-center ">
    <a  href="{{ path('impot_cfpb_calculer') }}" type="button"  class="btn btn-primary btn-lg">Ajoutet  ImpotCFPB</a>
    <a href="{{ path('impot_cfnpb_calculer') }}" type="button" class="btn btn-warning btn-lg">Ajoutet  ImpotCFNPB</a>
    <a href="{{ path('impot_tom_calculer') }}" type="button" class="btn btn-info btn-lg">Ajoutet  ImpotTOM</a>
    </div>
{% endblock %}
{% block PageTitre %}
    Les impôts assis sur la valeur foncière et immobilière
{% endblock %}