{% extends 'template.html.twig' %}

{% block title %}Calcul de la CFPB{% endblock %}

{% block body %}
    <h1>Calcul de la Contribution Foncière des Propriétés Bâties (CFPB)</h1>
    <p>Propriété: {{ propriete.id }}</p>
    <p>CFPB: {{ cfpb }}</p>
    <a href="{{ path('calculate_cfpb', {id: propriete.id}) }}">Recalculer la CFPB</a>
{% endblock %}

