{% extends 'template.html.twig' %}

{% block body %}
  <div class="row m-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Impot Assis sur Valeur Fonciere</h5>
          <p class="card-text">Montant Cumule</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contribution Pantante</h5>
          <p class="card-text">Montant Cumule</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 m-2">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Impot Capitation</h5>
          <p class="card-text">Montant Cumule</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>

{% endblock%}

