{% extends 'template.html.twig' %}

{% block body %}
    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                    {% if role=="ROLE_USER" %}
                        Utilisateur
                    {% elseif role=="ROLE_ADMIN" %}
                        Adimistrateur et
                    {% elseif role =="ROLE_SUPER_ADMIN" %}
                        Super_Adimistrateur et
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}

{% endblock %}

