
{% extends 'template.html.twig' %}

{% block title %}Typeimpots!{% endblock %}

{% block body %}
    <div class="row m-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Impôts Assis sur Valeur Foncière</h3>
                    <p class="fa-2x">Montant Cumule: </p>
                    <a href="{{ path('impotAssiValeur_index') }}" class="btn btn-primary"><i class='bx bx-detail'></i>Detail</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Contribution Patente</h3>
                    <p><h5>Montant Cumule:</h5></p>
                    <a href="{{ path('impotAssiValeur_index') }}" class="btn btn-primary"><i class='bx bx-detail'></i>Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Impôt Capitation</h3>
                    <p> <h5>Montant Cumule:</h5></p>
                    <a href="{{ path('impotAssiValeur_index')}}" class="btn btn-primary"><i class='bx bx-detail'></i>Detail</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> Impôt indirect</h3>
                    <p><h5>Montant Cumule:</h5></p>
                    <a href="{{ path('impotAssiValeur_index')}}" class="btn btn-primary"><i class='bx bx-detail'></i>Detail</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block PageTitre%}
     Recettes Fiscales
 {% endblock %}
