{% extends 'template.html.twig' %}

{% block body %}
    <h1>Liste des types d'impôts</h1>

    <ul>
        {% for impotCFPB in impotCFPBs %}
            <li>
                <h5>Type d'impôt : {{ impotCFPB.typebatiment }}</h5>
                <h5>Montant : {{ impotCFPB.montant }}</h5>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="d-grid gap-7 col-2 mx-xxl-6">
            <a href="{{ path('calculer_somme_impots_cfpb') }}" class="btn bg-info"><strong>Ajouter ImpotCFPB</strong></a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

