{% extends 'template.html.twig' %}

{% block body %}
    <h1>Résultat de la somme des impôts CFPB</h1>

    <p>La somme des impôts CFPB est : {{ sommeImpots }}</p>

    <a href="{{ path('liste_impotcfpb') }}" class="btn btn-primary">Retour à la liste des impôts</a>
{% endblock %}

{% block title %}

{% endblock %}

